models/* linguist-generated

# Set default behavior, in case people don't have core.autocrlf set.
* text=auto

*.py text
*.yml text
*.fa text
*.fasta text
*.vcf text
*.fastq text
*.txt text
*.html text
*.genomecov text

*.bam binary
*.png binary
*.jpg binary
