# This workflow configures the environment and executes NEAT read-simulator tests using relative paths for a series of configuration files individually
# For more information on using Python with GitHub Actions, refer to:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: NEAT Unit Tests

on:
  push:
    branches: [develop, main]
  pull_request:
    branches: [main]

jobs:
  detailed_test_execution:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: s-weigand/setup-conda@v1.1.1
        with:
          conda-channels: bioconda, conda-forge
          activate-conda: true
          repository: NCSA/NEAT
      - name: Environment Setup
        run: |
          conda env create -f environment.yml -n test_neat
          conda activate test_neat
          poetry install
          cd config_template

      - name: Run NEAT Simulation for config_test1
        run: python -m neat --log-level DEBUG read-simulator -c config_test1.yml -o ../outputs/test1_read-simulator

      - name: Run NEAT Simulation for config_test2
        run: python -m neat --log-level DEBUG read-simulator -c config_test2.yml -o ../outputs/test2_read-simulator

      - name: Run NEAT Simulation for config_test3
        run: python -m neat --log-level DEBUG read-simulator -c config_test3.yml -o ../outputs/test3_read-simulator

      - name: Run NEAT Simulation for config_test4
        run: python -m neat --log-level DEBUG read-simulator -c config_test4.yml -o ../outputs/test4_read-simulator

      - name: Run NEAT Simulation for config_test5
        run: python -m neat --log-level DEBUG read-simulator -c config_test5.yml -o ../outputs/test5_read-simulator

      - name: Run NEAT Simulation for config_test6
        run: python -m neat --log-level DEBUG read-simulator -c config_test6.yml -o ../outputs/test6_read-simulator

      - name: Run NEAT Simulation for config_test7
        run: python -m neat --log-level DEBUG read-simulator -c config_test7.yml -o ../outputs/test7_read-simulator

      - name: Run NEAT Simulation for config_test8
        run: python -m neat --log-level DEBUG read-simulator -c config_test8.yml -o ../outputs/test8_read-simulator

      - name: Run NEAT Simulation for config_test9
        run: python -m neat --log-level DEBUG read-simulator -c config_test9.yml -o ../outputs/test9_read-simulator

      - name: Run NEAT Simulation for config_test10
        run: python -m neat --log-level DEBUG read-simulator -c config_test10.yml -o ../outputs/test10_read-simulator

      - name: Run NEAT Simulation for config_test11
        run: python -m neat --log-level DEBUG read-simulator -c config_test11.yml -o ../outputs/test11_read-simulator
