name: NEAT Unit Tests

on:
  push:
    branches: [develop, main]
  pull_request:
    branches: [main]

jobs:
  detailed_test_execution:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          environment-name: test_neat
          cache-environment: true

      - name: Run NEAT Simulations
        run: |
          micromamba run -n test_neat python -m neat --log-level DEBUG read-simulator -c data/test_configs/config_test1.yml -o ../outputs/test1_read-simulator
